@media (min-width: 576px) {
  .conteiner {
    margin-top: 56px;
  }
}

@media (min-width: 768px) {
  .conteiner {
    margin-top: 56px;
  }
}

@media (min-width: 100px) {
  .conteiner {
    margin-top: 56px;
  }
}

@media (max-width: 225px) {
  .conteiner {
    margin-top: 96px;
  }
}

@media (min-width: 1200px) {
  .conteiner {
    margin-top: 56px;
  }
}
html {
  scroll-behavior: smooth;
}
.gadriente{
  background-image:  linear-gradient (to right, #,#);
}
.img-sobre{
  width: 60%;
  text-align: center;
  padding: auto;
}
.sobre{
  width: 100%;
}


.tabela {
  margin-bottom: 10px;
  border-left: 5pt solid #f69f2e;
}
#sobre .texto-sobre{
  text-align: justify;

}